<form action="/result" method="post">
<input type="text" name="nom" placeholder="entrez votre nom">
<input type="text" name="prenom" placeholder="votre nom de famille">
<input type="text" name="age" placeholder="votre âge">
<input type="text" name="ville" placeholder="votre ville">
<input type="submit" value="envoyer">
</form>